.banner {

	position: absolute; 
	margin: 0 auto;
	width: 100%;
	height: 55%;

}

.banner > h2 {

	-moz-border-radius-bottomright: 10px; 
	-moz-border-radius-topright: 10px; 
	background-color: #CECECE; 
	bottom: 52%; 
	color: #8E1818; 
	margin: 0; 
	opacity: 0.6; 
	filter:alpha(opacity=40); 
	padding: 5px 10px; 
	position: absolute; 
	width: 60%;
}

.banner > img {

	width: 100%;
	height: 55%;
}

.container {

	position: absolute;
	top: 30%;
}